name: Generate Downloadable Artifacts (python image)

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    
    - name: Build Docker image
      id: build_image
      uses: docker/build-push-action@v5
      with:
        context: .
        file: Dockerfile
        tags: python:${{ github.sha }}
        outputs: type=docker,dest=./python-image.tar
    
    - name: Compress Docker image
      run: |
        gzip -c ./python-image.tar > python-image-${{ github.sha }}.tar.gz
        rm ./python-image.tar
        echo "IMAGE_NAME=python-image-${{ github.sha }}.tar.gz" >> $GITHUB_ENV
    
    - name: Upload Docker image artifact
      uses: actions/upload-artifact@v4
      with:
        name: python-docker-image
        path: ${{ env.IMAGE_NAME }}
        retention-days: 7
